<script>
  $(function () {
      $('#unit').highcharts({
          title: {
              text: 'Pricing for <%= @data[:unitnum] %>, <%= @data[:unitname] %> at <%= @data[:trust] %> <%= @data[:location] %>',
              x: -20 //center
          },
          xAxis: {
              categories: [<%= raw(@data[:dates]) %>]
          },
          yAxis: {
              title: {
                  text: 'Rent'
              },
              plotLines: [{
                  value: 0,
                  width: 1,
                  color: '#808080'
              }]
          },
          tooltip: {
              valuePrefix: '$'
          },
          legend: {
              layout: 'vertical',
              align: 'right',
              verticalAlign: 'middle',
              borderWidth: 0
          },
          series: [{
              name: 'rent',
              data: [<%= @data[:rents] %>]
          }]
      });
  });
</script>
<div id="unit"></div>
